body {
    font-family: Arial;
    padding-top: 50px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/*ticket pages*/
.button-centre-right {
    margin-top: 1.5em;
    float: right;
}

.dates-vertical-center {
    margin: 0;
}

.ticket-title {
    margin: 0;
}

.break-line {
    margin:0.5em;
}

.thumbnail {
    padding: 0.4em 0.4em 0 0.4em;
}

.thumbnail .caption {
    padding: 0.9em 0.9em 0 0.9em;
}

@media only screen and (min-width: 992px) {
    .filter-button {
        margin-top: 1.7em;
    }
    .form-buttons {
        margin-left: 15em;
    }
}

@media only screen and (max-width: 991px) {
    .filter-button {
        margin-top: 1.7em;;
    }
    .form-buttons {
        margin-left: 1.1em;
    }
}



