{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1>Ticket Form</h1> 
            <hr class="break-line">
        </div>
    </div>
    <div class="row">
        {% if ticket.author == null %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-2 form-buttons">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'get_tickets' %}" class="btn btn-default">Back to Tickets</a>    
                </div>
            </div>
        </form>
        {% elif ticket.author != request.user %}
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>Sorry. You cannot edit other user tickets.</p>    
        </div>
        {% else %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-2 form-buttons">
                    <button type="submit" class="btn btn-info">Save</button>
                    <a href="{% url 'get_tickets' %}" class="btn btn-default">Back to Tickets</a>    
                </div>
            </div>
        </form>  
        {% endif %}
    </div>
</div>

{% endblock %}