{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2">
            <h1>Ticket Detail</h1>
        </div>
    </div>
</div>   
<div class="row ticket-detail">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="thumbnail">
            <div class="caption">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="ticket-title">{{ ticket.title }}</h3>    
                    </div>
                </div>
                <hr class="break-line">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="dates-vertical-center"><strong>Author:</strong> {{ ticket.author }}</p>
                    </div> 
                    <div class="col-xs-6">
                        <p class="text-right dates-vertical-center">
                            <span class="type-color">{{ticket.ticket_type}}</span>
                            <span class="status-color">{{ticket.status}}</span>
                        </p>
                    </div>
                </div>
                <hr class="break-line">
                <p>{{ ticket.content }}</p>
                <hr class="break-line">
                <div class="row">
                    <div class="col-xs-3 col-md-1">
                        <form action="{% url 'request_vote' ticket.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" value="Vote" class="btn btn-primary btn-xs">UpVote</button>
                        </form>
                    </div>
                    <div class="col-xs-9 col-md-3">
                        <p><small><strong>Votes:</strong> {{ ticket.votes }}</small></p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <p><small><strong>Updated on:</strong> {{ ticket.update_date }}</small></p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <p><small><strong>Published on:</strong> {{ ticket.published_date }}</small></p>  
                    </div>
                </div>
            </div>
        </div> 
        <div>
            {% if ticket.author != request.user %}
                <a href="{% url 'get_tickets' %}" class="btn btn-default btn-sm">Back to Tickets</a>
            {% else %}
                <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-info btn-sm">Edit Ticket</a>
                <a href="{% url 'get_tickets' %}" class="btn btn-default btn-sm">Back to Tickets</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <form method="post">
        {% csrf_token %}
        {{ comment_form | as_bootstrap }}
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>    
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h5>Comments({{ comments.count }})</h5>
        {% for comment in comments %}
        <div class="thumbnail">
            <div class="caption">
                <p>{{comment.comment}}</p>
                <hr class="break-line">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p><span><small><strong>Author:</strong></span> {{comment.comment_author}}</small></p>    
                    </div> 
                    <div class="col-xs-12 col-md-6">
                        <p><span><small><strong>Published:</strong></span> {{ comment.published_date }}</small></p>    
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}