{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1>Tickets</h1>
            </div>
            <div class="col-xs-6">
                <a href="{% url 'new_ticket' %}"  class="btn btn-success button-centre-right">Create Ticket</a>
            </div>
        </div>
    </div>    
    </div>
    <div class="container">
        <div class="row">
            {% for ticket in tickets %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ ticket.title }}</h3>
                        <p><span class="boldtext">Status:</span> {{ticket.status}}</p>
                        <p><span class="boldtext">Type:</span> {{ticket.ticket_type}}</p> 
                        <p>{{ ticket.content|truncatewords:12 }}</p>
                        <p><a href="{% url 'ticket_detail' ticket.id %}"  class="btn btn-primary">Read more</a></p>
                        <div>
                            <p><small><span class="boldtext">Author:</span> {{ ticket.author }}</small></p>
                            <p><small><span class="boldtext">Published on:</span> {{ ticket.published_date }}</small></p>
                            <p><small><span class="boldtext">Updated on:</span> {{ ticket.update_date }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>    
    </div>    
{% endblock %}