{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h3>Cart</h3>    
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <table class="table table-bordered">
            {% for item in cart_items %}
            <tr>
                <td class="text-center"><strong>Ticket ID</strong></td>
                <td><strong>Title</strong></td>
                <td class="text-center"><strong>Amount NOK</strong></td>
                <td class="text-center"><strong>Remove</strong></td>
            </tr>
            <tr>
                <td class="text-center">{{item.ticket.id}}</td>
                <td>{{item.ticket.title|truncatewords:10}}</td>
                <td class="text-center">{{item.amount}}</td>
                <td class="text-center"><a href="{% url 'remove_from_cart' item.ticket.id %}" class="btn btn-danger btn-xs">X</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <p class="text-right"><strong>Total</strong></p>
        <p class="text-right"><strong>{{ total }} NOK</strong></p>
        <p class="text-right">
            <a href="{% url 'checkout' %}" class="btn btn-primary" role="button"><span aria-hidden="true"></span>Checkout</a>
        </p>
    </div>
</div>
{% endblock %}
    <span><strong>Ticket ID:</strong> {{item.ticket.id}}</span>
                <span><strong>Title:</strong> {{item.ticket.title|truncatewords:10}}</span>
                <span><strong>Amount:</strong> {{item.amount}} NOK</span>
                <span><a href="{% url 'remove_from_cart' item.ticket.id %}" class="btn btn-danger btn-xs">X</a></span>