{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h3>Cart</h3>    
    </div>
</div>
<div class="row">
    {% for item in cart_items %}
    <div class="col-xs-12 col-md-4 col-md-offset-2">
        <div class="thumbnail">
            <div class="caption">
                <p><strong>Ticket ID:</strong> {{item.ticket.id}}</p>
                <p><strong>Title:</strong> {{item.ticket.title|truncatewords:10}}</p>
                <p><strong>Amount:</strong> {{item.amount}} NOK</p>
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Amount</div>
                            <input name="amount" type="number" min="0" max="10000" class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" type="button">Change</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <p class="text-right"><strong>Total</strong></p>
        <p class="text-right"><strong>{{ total }} NOK</strong></p>
        <p class="text-right">
            <a href="{% url 'checkout' %}" class="btn btn-primary" role="button"><span aria-hidden="true"></span>Checkout</a>
        </p>
    </div>
</div>
{% endblock %}
<form class="form-inline amend-form" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <input name="amount" type="number" min="0" max="10000" class="form-control">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                </form>