{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AuthenticateMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <header>
        <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">AuthenticateMe</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'view_cart' %}">
                                    <i class="fas fa-shopping-cart"></i> Cart
                                    {% if ticket_count > 0 %}
                                        <label class="badge ">
                                            {{ ticket_count }}
                                        </label>
                                    {% endif %}
                                </a>
                            </li>
                            <li><a href="{% url 'get_tickets' %}">Tickets</a></li>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {%  else %}
                            <li><a href="{% url 'get_tickets' %}">Tickets</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                            <li><a href="{% url 'login' %}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% if messages %}
            <div class="alert alert-success">
                <div class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </header>
    <main>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>Made by Code Institute bootcampers</p>
        </div>
    </footer>
    <script>
        // Adding label to ticket status depend on status
        $(document).ready(function(){
            var getLabel = document.getElementsByClassName("status-color");
            for (var i = 0; i < getLabel.length; i++) {
                var status = $(getLabel[i]).first().text();
                var label = getLabel[i];
                if (status == "Pending"){
                    label.classList.add("label", "label-info");
                }else if (status == "In Progress"){
                    label.classList.add("label", "label-warning");
                }else{
                    label.classList.add("label", "label-primary");
                }
            }
        });
        // Adding label to ticket type depend on type
        $(document).ready(function(){
            var getLabel = document.getElementsByClassName("type-color");
            for (var i = 0; i < getLabel.length; i++) {
                var type = $(getLabel[i]).first().text();
                var label = getLabel[i];
                if (type == "Issue"){
                    label.classList.add("label", "label-success");
                }else{
                    label.classList.add("label", "label-danger");
                }
            }
        });
        // Removing default options from dropdown menus of ticket_type
        $(document).ready(function(){
            $("select[id=id_ticket_type] > option:first-child")
            .remove();
        });
        //Adding classes to bootstrap forms
        $(document).ready(function(){
            var type = document.getElementById("div_id_ticket_type");
            var type_name = document.getElementById("div_id_ticket_type__name");
            var date = document.getElementById("div_id_published");
            var title = document.getElementById("div_id_title");
            var content = document.getElementById("div_id_content");
            var upvotes = document.getElementById("div_id_upvotes");
            var title_contains = document.getElementById("div_id_title_contains");
            $(type_name).addClass("col-xs-6 col-md-2 col-md-offset-2");
            $(type).addClass("col-xs-6 col-md-2 col-md-offset-2");
            $(date).addClass("col-xs-6 col-md-2");
            $(upvotes).addClass("col-xs-6 col-md-2");
            $(title_contains).addClass("col-xs-12 col-md-8 col-md-offset-2");
            $(title).addClass("col-xs-12 col-md-8 col-md-offset-2");
            $(content).addClass("col-xs-12 col-md-8 col-md-offset-2");
        });
    </script>
</body>
</html>
